*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* Редизайн */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

:focus {
  outline: none;
}

.button,
.search-form__label,
.content__list-item {
  cursor: pointer;
}

/* Левая колонка */

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.result__video-container {
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  appearance: none;
  padding: 4px 0;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 18px;
  height: 18px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__label:has(input:checked) .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.result__video-container, .content__list-container {
  position: relative;
}

/* Правая колонка */

.content__details {
  width: 100%;
  height: 100%;
  gap: 26px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
}

.title .content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3px;
  padding-top: 0;
}


.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  justify-content: space-between;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
  white-space: normal;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
}

.more-button {
  height: 34px;
  width: 100%;
  flex-shrink: 0;
}

.content__card-link {
  display: block;
}

.content__card-link_current,
.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:hover .content__video-card-title {
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.content__list-item:has(:focus-visible) .content__video-card {
  outline: 1px solid #fff;
}

